<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('./errorMessage.ejs') %>
    <form method="POST" action="/new">
      <label for="user">User</label>
      <input type="text" name="messageUser" />
      <label for="message">Message</label>
      <input type="text" name="messageText" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
